
<div class="line">
	<div class="unit size1of1">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightSkyBlue;">100%</span>
	</div>
</div>
<div class="line">
	<div class="unit size1of2">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightGreen;">50%</span>
	</div>
	<div class="unit size1of2 lastUnit">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightGreen;">50%</span>
	</div>
</div>
<div class="line">
	<div class="unit size1of3">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightCoral;">33%</span>
	</div>
	<div class="unit size1of3">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightCoral;">33%</span>
	</div>
	<div class="unit size1of3 lastUnit">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightCoral;">33%</span>
	</div>
</div>
<div class="line">
	<div class="unit size1of4">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightGoldenRodYellow;">25%</span>
	</div>
	<div class="unit size1of4">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightGoldenRodYellow;">25%</span>
	</div>
	<div class="unit size1of4">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightGoldenRodYellow;">25%</span>
	</div>
	<div class="unit size1of4 lastUnit">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightGoldenRodYellow;">25%</span>
	</div>
</div>
<div class="line">
	<div class="unit size1of5">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightSalmon;">20%</span>
	</div>
	<div class="unit size1of5">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightSalmon;">20%</span>
	</div>
	<div class="unit size1of5">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightSalmon;">20%</span>
	</div>
	<div class="unit size1of5">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightSalmon;">20%</span>
	</div>
	<div class="unit size1of5 lastUnit">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightSalmon;">20%</span>
	</div>
</div>
<div class="line">
	<div class="unit size1of5">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightSalmon;">20%</span>
	</div>
	<div class="unit size1of3">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightCoral;">33%</span>
	</div>
	<div class="unit size1of5 lastUnit">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightGrey;">fill</span>
	</div>
</div>
<div class="line">
	<div class="unit size1of5">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightSalmon;">20%</span>
	</div>
	<div class="unitOpp size1of3">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightCoral;">33%</span>
	</div>
	<div class="unit size1of5 lastUnit">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightGrey;">fill</span>
	</div>
</div>
