
<article id="gridsTest">
<section id="fullGrid">
	<div>
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightSkyBlue;">100%</span>
	</div>
</section>
<section id="splitGrid">
	<div>
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightGreen;">50%</span>
	</div>
	<div>
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightGreen;">50%</span>
	</div>
</section>
<section id="triptychGrid">
	<div>
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightCoral;">33%</span>
	</div>
	<div>
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightCoral;">33%</span>
	</div>
	<div>
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightCoral;">33%</span>
	</div>
</section>
<section id="quadrantsGrid">
	<div>
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightGoldenRodYellow;">25%</span>
	</div>
	<div>
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightGoldenRodYellow;">25%</span>
	</div>
	<div>
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightGoldenRodYellow;">25%</span>
	</div>
	<div>
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightGoldenRodYellow;">25%</span>
	</div>
</section>
<section id="pentaGrid">
	<div>
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightSalmon;">20%</span>
	</div>
	<div>
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightSalmon;">20%</span>
	</div>
	<div>
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightSalmon;">20%</span>
	</div>
	<div>
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightSalmon;">20%</span>
	</div>
	<div>
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightSalmon;">20%</span>
	</div>
</section>
<section id="mixedGrid">
	<div class="sidebar">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightSalmon;">20%</span>
	</div>
	<div class="content">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightCoral;">33%</span>
	</div>
	<div class="filler">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightGrey;">fill</span>
	</div>
</section>
<section id="centerFillGrid">
	<div class="sidebar">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightSalmon;">20%</span>
	</div>
	<div class="spotlights">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightCoral;">33%</span>
	</div>
	<div class="filler">
		<span style="display:block; text-align:center; border:1px solid #000; background-color:LightGrey;">fill</span>
	</div>
</section>
</article>
